{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="row" style="margin-top: 90px;">
    <footer class="footer mt-auto py-3  fixed-bottom">
        <div class="row container-fluid fot">
                <div class="col-3">
                    <img src="{% static 'img/bus Dekho.png' %}" alt="" width="100px" height="100px">
                    <p>Bus Dekho is the world's largest online bus ticket booking service trusted by over 25 million happy customers globally. 
                        Bus Dekho offers bus ticket booking through its website, iOS and Android mobile apps for all major routes.</p>
                </div>
                <div class="col-3">
                    <h4><b>About Bus Dekho</b></h4>
                    <p>About us<br>
                        Investor Relations<br>
                        Contact us<br>
                        Mobile version<br>
                        redBus on mobile<br>
                        Sitemap<br>
                        Offers<br>
                        Careers<br>
                        Values<br>
                    </p>
                </div>
                <div class="col-3">
                    <h4><b>Info</b></h4>
                    <p>
                        T&C<br>
                        Privacy policy<br>
                        FAQ<br>
                        Blog<br>
                        Bus operator registration<br>
                        Agent registration<br>
                        Insurance partner<br>
                        User agreement<br>
                    </p>
                </div>
                <div class="col-3">
                    <h4><b>Global Sites</b></h4>
                    <p>
                        India<br>
                        Singapore<br>
                        Malaysia<br>
                        Indonesia<br>
                        Peru<br>
                        Colombia<br>
                    </p>
                </div>
        </div>
        <hr style="border: 1px solid #ddd; margin: 30px;">
        <div class="row">
            <div class="col-6">
                <p style="margin-left: 10px;">&copy;Bus Dekho india pvt Ltd.All rights reserved</p>
            </div>
            <div class="col-6">
                <ul class="navbar-nav">
                    <li class="nav-item mx-auto">
                        <i class="fa-brands fa-instagram fa-2xl" style="color: #121212;"></i>
                        <i class="fa-brands fa-facebook fa-2xl" style="color: #000000;"></i>
                        <i class="fa-brands fa-linkedin fa-2xl" style="color: #000000;"></i>
                    </li>
                </ul>
            </div>
        </div>
      </footer>
    </div>
    
  </body>
</html>
